<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.EmpDao">

    <select id="selectAllJob" resultType="string">
        select distinct job from emp where  job is not null;
    </select>

    <select id="selectAllDeptno" resultType="int">
        select distinct deptno from emp where  deptno is not null;
    </select>



    <select id="selectAllList" resultType="domain.EmpClass">
        select empno,ename,job,mgr,hiredate,sal,comm,deptno from emp
        <where>
            <if test="deptno != null and deptno != ''">
                and deptno = #{deptno}
            </if>
            <if test="job != null and job != ''">
                and job = #{job}
            </if>
        </where>

        order by sal
        <choose>
            <when test="orderby != null and orderby == 'desc'">
                ${orderby}
            </when>
            <otherwise>
                ${orderby}
            </otherwise>
        </choose>

    </select>

</mapper>