<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean name="student" class="domain.Student" scope="singleton" lazy-init="true">-->
<!--        &lt;!&ndash;-->
<!--            通过set函数设置属性-->
<!--            Class.forname("").newInstance()-->
<!--            // 获取到所有属性-->
<!--            // 找到属性的类型-->
<!--            // 循环赋值-->
<!--        &ndash;&gt;-->
<!--        <property name="sid" value="1"></property>-->
<!--        <property name="sname" value="abc"></property>-->
<!--    </bean>-->
    <!--引入其他配置文件-->
<!--    <import resource="applicationContext_controller.xml"></import>-->
<!--    <import resource="applicationContext_dao.xml"></import>-->
<!--    <import resource="applicationContext_service.xml"></import>-->

    <bean name="student" class="domain.Student" scope="singleton" lazy-init="true">
        <!--
            通过构造发方法对属性进行注入
            Class.forname("").getConstructor(String.class ...).newInstance("1" ...)
        -->
        <constructor-arg name="sid" value="1" type="java.lang.Integer"></constructor-arg>
        <constructor-arg name="sname">
            <value><![CDATA[<cj~.>]]></value>
        </constructor-arg>
    </bean>



<!--    <bean name="controller" class="controller.StudentController">-->
<!--        <property name="service">-->
<!--            <bean class="service.StudentService">-->
<!--                <property name="studentDao" ref="studentDaoClass"></property>-->
<!--            </bean>-->
<!--        </property>-->
<!--    </bean>-->

<!--    <bean name="studentDaoClass" class="dao.StudentDao"></bean>-->



<!--    <bean name="daoObj" class="dao.StudentDao"></bean>-->
<!--    <bean name="serviceObj" class="service.StudentService" autowire="constructor"></bean>-->
<!--    <bean name="controllerObj" class="controller.StudentController" autowire="constructor"></bean>-->


<!--    <bean name="studentDao" class="dao.StudentDao"></bean>-->
<!--    <bean name="service" class="service.StudentService" autowire="byName"></bean>-->
<!--    <bean name="controllerObj" class="controller.StudentController" autowire="byName"></bean>-->

        <bean name="room" class="domain.Room">
            <constructor-arg name="roomId" value="1" type="java.lang.Integer"></constructor-arg>
            <constructor-arg name="rname" value="电竞房" type="java.lang.String"></constructor-arg>
            <constructor-arg name="ids">
                <array value-type="java.lang.String">
                    <value>1</value>
                    <value>2</value>
                    <value>3</value>
                    <value>4</value>
                </array>
            </constructor-arg>
            <constructor-arg name="computers">
                <array value-type="domain.Computer">
                    <bean class="domain.Computer"></bean>
                    <bean class="domain.Computer"></bean>
                    <bean class="domain.Computer"></bean>
                    <bean class="domain.Computer"></bean>
                    <bean class="domain.Computer"></bean>
                    <bean class="domain.Computer"></bean>
                </array>
            </constructor-arg>
        </bean>




</beans>