<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd"
>

<!--    <bean id="testController" class="controller.TestController"></bean>-->

    <!--配置请求和真实对应的资源-->
    <!--DispatcherServlet类有一个自己的小弟，负责处理映射关系 SimpleUrlHandlerMapping-->
<!--    <bean id="simpleUrlHandlerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">-->
<!--        <property name="mappings">-->
<!--            <props>-->
<!--                &lt;!&ndash;真实的请求和类的对应关系&ndash;&gt;-->
<!--                <prop key="testController.do">testController</prop>-->
<!--            </props>-->
<!--        </property>-->
<!--    </bean>-->


    <!--注解-->
    <context:component-scan base-package="controller"/>
    <!--开启请求响应注解的处理（加载HandlerMapping类）-->
    <mvc:annotation-driven/>

    <!--加载一个自定义类转换器-->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="utils.FormatDate"/>
            </set>
        </property>
    </bean>
    <!--手配配置这个类的加载驱动-->
    <mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>

</beans>