<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:写dao类全名-->
<mapper namespace="dao.StudentDao">
    <insert id="insertStudent">
        INSERT INTO student VALUES(6, "陈文杰", "nan", NOW(), "hangzhou", 100.00, 100.00,100.00, 100.00, 1)
    </insert>
    <!--id: 名称标识  resultType：返回值类型-->
    <select id="selectOne" resultType="domain.StudentClass">
        select * from student where s_id = 1;
    </select>

    <!--返回类型是每一行的类型-->
    <select id="selectAll" resultType="domain.StudentClass">
        select * from student;
    </select>

    <select id="selectCount" resultType="int">
        select count(*) from student;
    </select>

    <select id="selectNameById" resultType="java.lang.String">
        select s_name from student where s_id = 6;
    </select>

    <select id="selectSexCount" resultType="hashMap">
        select s_sex,count(*) from student group by s_sex;
    </select>

    <update id="update">
        update student set s_name = #{s_name} where s_id = #{s_id};
    </update>
</mapper>

